html {
  height: 100%;
  width: 100%;
}

body{
  background-color: #F9D689;
}

.titulo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo p{
  font-size: 50px;
  font-weight: bold;
  color: #7b5524;
  text-align: center;
}

.img1{
  display: flex;
  justify-content: center;
  align-items: center;
}

.img1 img{
  height: 250px;
}

.link a {
  font-size: 30px;
  font-weight: bold;
  color: #7b5524;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}
  
.link2{
  font-size: 30px;
  font-weight: bold;
  color: #7b5524;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.link3{
  font-size: 30px;
  font-weight: bold;
  color: #7b5524;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}



.parrafo{
display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.parrafo {
  display: inline-block;
   width: 50%;
}

.container{
  justify-content: center;
  text-align: justify;
  font-size: 16px; 
  color: #2d6080;
  align-items: center;
  flex-grow: 1;
  display: flex;
  margin: 0 auto;
}

.img2 img{
height: 200px;
float: left;
}

.img3 {
display: flex;
align-items: center;
}
.img3 img{
size: 100px;
float: right;
}

.links container {
  display: flex;
  justify-content: center; 
  align-items: flex-end;
  width: 100%;
}

.parrafo p {
  font-size: 16px; 
  color: #2d6080;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  .img4 img {

}